<p>
  <%= f.label :speaker %>
  <%= f.text_field :speaker %>
</p>

<p>
  <%= f.label :topic %>
  <%= f.text_field :topic %>
</p>

<p>
  <%= f.label :starts_at, 'Starts At' %>
  <%= f.datetime_select :starts_at %>
</p>

<p>
  <%= f.label :ends_at, 'Ends At' %>
  <%= f.datetime_select :ends_at %>
</p>
