<h2>Talks for <%= link_to @venue.name, edit_venue_path(@venue) %></h2>

<p>
  <%= link_to 'New Talk', new_venue_talk_path(@venue) %>
</p>

<table id="talks">
  <tr>
    <th>Time</th>
    <th>Speaker</th>
    <th>Topic</th>
    <th></th>
    <th></th>
  </tr>

  <% for talk in @talks %>
    <tr>
      <td><%=h talk.starts_at.to_s(:time) %></td>
      <td><%=h talk.speaker %></td>
      <td><%=h talk.topic %></td>
      <td><%= link_to 'Edit', edit_venue_talk_path(@venue, talk) %></td>
      <td><%= link_to 'Destroy', [@venue, talk], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
