<h2>New Talk for <%= link_to @venue.name, edit_venue_path(@venue) %></h2>

<%= error_messages_for :talk %>

<% form_for([@venue, @talk]) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Create" %>
    or
    <%= link_to 'Cancel', venue_talks_path(@venue) %>
  </p>
<% end %>
