<h2>Editing Venue <%= link_to @venue.name, @venue %></h2>

<%= error_messages_for :venue %>

<% form_for(@venue) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Update" %>
    or
    <%= link_to 'Cancel', venues_path %>
  </p>
<% end %>
