<% if admin? %>
<h2>Venues</h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
      <th></th>
      <th></th>
  </tr>

  <% @venues.each do |venue| %>
    <tr>
      <td><%= link_to venue.name, venue %></td>
      <% if admin? %>
        <td><%= link_to 'Talks', venue_talks_path(venue) %></td>
        <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
        <td><%= link_to 'Destroy', venue, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
    <tr>
      <td>
       <%= link_to 'Add Venue', new_venue_path %>
     </td>
     <td></td>
     <td></td>
    </tr>
</table>
<% end %>
