<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="viewport" content="width=420; initial-scale=0.6666; maximum-scale=1.0; minimum-scale=0.6666" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>BarCampOrlando Schedule</title>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <h1><%= link_to 'BarCampOrlando', root_path %></h1>

    <ul id="navigation">
      <% Venue.find(:all, :order => 'starts_at').each do |venue| %>
        <li><%= link_to_unless_current venue.name, venue_path(venue) %></li>
      <% end %>

      <% if session[:admin] %>
        <li class="right"><%= link_to 'Log Out', logout_path %></li>
      <% end %>
    </ul>

    <p style="color: green;"><%= flash[:notice] %></p>

    <%= yield  %>
  </body>
</html>
